source local-packages
source \\OneNet11\PrajnaHubDependencies
source https://nuget.org/api/v2

nuget FSharp.Data
nuget FSharp.Formatting
nuget FSharpVSPowerTools.Core
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget Prajna
nuget Prajna.WCFTools
nuget Prajna.Services
nuget Prajna.WPFTools
nuget VMHub.Services
nuget Microsoft.WindowsAzure.ConfigurationManager 2.0.3
nuget EmguCV_CUDA_MSRCCS_Private 3.1.0

github fsharp/FAKE modules/Octokit/Octokit.fsx

http https://live.sysinternals.com/files/Handle.zip
http http://onenet11/PrajnaHub/Dependencies/PrajnaRecogServer.zip
http http://onenet11/PrajnaHub/Dependencies/CaffeCommon.zip
http http://onenet11/PrajnaHub/Dependencies/FaceRecognition.zip
http http://onenet11/PrajnaHub/Dependencies/ImageCaption.zip
