source local-packages
source https://nuget.org/api/v2

nuget FSharpVSPowerTools.Core 1.8.0
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget Prajna
nuget Prajna.WCFTools
nuget Prajna.Services

github fsharp/FAKE modules/Octokit/Octokit.fsx

http https://download.sysinternals.com/files/Handle.zip