<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="VHubFrontEndWebServiceTypeBehavior" name="vHub.FrontEndWebService.VHubFrontEndWebService">
        <endpoint binding="mexHttpBinding" address="mex" contract="IMetadataExchange" />
        <endpoint address="ImGateway" binding="basicHttpBinding" name="basicHttp" contract="vHub.FrontEndWebService.VHubFrontEndWebService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/IMGatewayService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IMGatewayServiceLogServiceTypeBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" /></runtime></configuration>
